* {
  margin: 0px;
  padding: 0px;
  background-color: #262626;
}

.main{
  margin: auto;
}

.slideShow{
  margin: auto;
  overflow: hidden;
  height: 250px;
  width: 210px;
  position: relative;
}

.slideList{
  height: 250px;
  width: var(--width);
  margin-left: var(--marginLeft);
}

.slide{
  height: 250px;
  width: 210px;
  float: left;
}

.buttonLeft{
  background-color: darkgrey;
  width: var(--buttonSize);
  height: var(--buttonSize);
  position: absolute;
  margin-top: var(--marginTop);
}

.buttonRight{
  background-color: darkgrey;
  width: var(--buttonSize);
  height: var(--buttonSize);
  position: absolute;
  margin-left: var(--marginLeft);
  margin-top: var(--marginTop);
}

.text{
  margin: auto;
  color: darkgrey;
  text-align: center;
  font-size: 20px;
}
